<div class="group">
<h3>Target event</h3>
<button (click)="onSave($event)">Save</button>
<button on-click="onSave($event)">on-click Save</button>
</div>  
<hr>

<div class="group">
<!--작성한 myClick diective 사용 -->
<h4>myClick is an event on the custom ClickDirective:</h4>
<button (myClick)="clickMessage=$event" clickable>click with myClick</button>
{{clickMessage}}
</div>
<hr>

<div class="group">
<h3>$event and event handling statements</h3>
<h4>Result: {{currentItem.name}}</h4>

<input [value]="currentItem.name"
        (input)="currentItem.name=$event.target.value" >
without NgModel
</div>
<hr>

<app-item-detail  (deleteRequest)="deleteItem($event)" 
                [item]="currentItem">
</app-item-detail>
<hr>

<!-- Two way data binding unwound;
    passing the changed display value to the event handler via `$event` -->
<h2 id="ngModel">NgModel (two-way) Binding</h2>
<h3>Result: {{currentHero.name}}</h3>
<input [value]="currentHero.name"
        (input)="currentHero.name=$event.target.value" >
without NgModel<br>
<input [(ngModel)]="currentHero.name">
[(ngModel)]<br>
<input bindon-ngModel="currentHero.name">
bindon-ngModel<br>
<input
  [ngModel]="currentHero.name"
  (ngModelChange)="currentHero.name=$event">
(ngModelChange)="...name=$event"<br>
<input
  [ngModel]="currentHero.name"
  (ngModelChange)="setUppercaseName($event)">
(ngModelChange)="setUppercaseName($event)"
 <hr>

<div *ngFor="let hero of heroes">{{hero.name}}</div>
<app-hero-detail *ngFor="let hero of heroes" [hero]="hero"> </app-hero-detail>
<hr>

<div *ngFor="let hero of heroes; let i=index">{{i + 1}} - {{hero.name}}</div>
<hr>

<div *ngFor="let hero of heroes; trackBy: trackByHeroes">
  ({{hero.id}}) {{hero.name}}
</div>
<hr>

<h4 id="ngFor-trackBy">*ngFor trackBy</h4>
<button (click)="resetHeroes()">Reset heroes</button>
<button (click)="changeIds()">Change ids</button>
<button (click)="clearTrackByCounts()">Clear counts</button>

<p><i>without</i> trackBy</p>
<div class="box">
  <div #noTrackBy *ngFor="let hero of heroes">({{hero.id}}) {{hero.name}}</div>

  <div id="noTrackByCnt" *ngIf="heroesNoTrackByCount" >
    Hero DOM elements change #{{heroesNoTrackByCount}} without trackBy
  </div>
</div>

<p>with trackBy</p>
<div class="box">
  <div #withTrackBy *ngFor="let hero of heroes; trackBy: trackByHeroes">({{hero.id}}) {{hero.name}}</div>

  <div id="withTrackByCnt" *ngIf="heroesWithTrackByCount">
    Hero DOM elements change #{{heroesWithTrackByCount}} with trackBy
  </div>
</div>
<hr>

<!-- <p>with trackBy and <i>semi-colon</i> separator</p>
<div class="box">
  <div *ngFor="let hero of heroes; trackBy: trackByHeroes">
    ({{hero.id}}) {{hero.name}}
  </div>
</div> -->

<!-- <p>with trackBy and <i>comma</i> separator</p>
<div class="box">
  <div *ngFor="let hero of heroes, trackBy: trackByHeroes">({{hero.id}}) {{hero.name}}</div>
</div> -->

<!-- <p>with trackBy and <i>space</i> separator</p>
<div class="box">
  <div *ngFor="let hero of heroes trackBy: trackByHeroes">({{hero.id}}) {{hero.name}}</div>
</div> -->

<!-- <p>with <i>generic</i> trackById function</p>
<div class="box">
  <div *ngFor="let hero of heroes, trackBy: trackById">({{hero.id}}) {{hero.name}}</div>
</div> -->

<!-- NgSwitch binding -->
<h2 id="ngSwitch">NgSwitch Binding</h2>

<p>Pick your favorite hero</p>
<div>
  <label *ngFor="let hero of heroes">
    <input type="radio" name="heroes" [(ngModel)]="currentHero" [value]="hero">{{hero.name}}
  </label>
</div>

<div [ngSwitch]="currentHero.emotion">
  <app-happy-hero    *ngSwitchCase="'happy'"    [hero]="currentHero"></app-happy-hero>
  <app-sad-hero      *ngSwitchCase="'sad'"      [hero]="currentHero"></app-sad-hero>
  <app-confused-hero *ngSwitchCase="'confused'" [hero]="currentHero"></app-confused-hero>
  <!-- <div *ngSwitchCase="'confused'">Are you as confused as {{currentHero.name}}?</div> -->
  <app-unknown-hero  *ngSwitchDefault           [hero]="currentHero"></app-unknown-hero>
</div>
<hr>


<!-- <p>Template reference variable statement context (#heroForm)</p>
<div class="context">
  <form #heroForm (ngSubmit)="onSubmit(heroForm)"> ... </form>
</div> -->

<!-- 질문 -->
<!-- <h4>Example Form</h4>
<app-hero-form [hero]="currentHero"></app-hero-form> -->

<hr>
<!-- Pipes -->
<h2 id="pipes">Pipes</h2>

<div>Title through uppercase pipe: {{title | uppercase}}</div>

<!-- 파이프 체이닝: 제목을 대문자로 변환하고, 다시 소문자로 변환합니다. -->
<div>
  Title through a pipe chain:
  {{title | uppercase | lowercase}}
</div>

<!-- 파이프에 인자를 전달할 수도 있습니다 => 결과) "February 25, 1970" -->
<div>Birthdate: {{currentHero?.birthdate | date:'longDate'}}</div>
<div>{{currentHero | json}}</div>
<div>Birthdate: {{(currentHero?.birthdate | date:'longDate') | uppercase}}</div>

<hr>
<!-- null 객체 참조를 방지하는 안전 참조 연산자( ?. ) -->
<!-- 히어로 객체가 유효하지 않으면 div가 표시되지 않으며, 에러도 발생하지 않습니다. -->
<div *ngIf="nullHero">The null hero's name is {{nullHero.name}}</div>
<!-- 히어로 객체가 유효하지 않아도 괜찮습니다! -->
<div>The null hero's name is {{nullHero && nullHero.name}}</div>
<div>The null hero's name is {{nullHero?.name}}</div>

<hr>
<!-- 질문 -->
<!-- null 방지 연산자 -->
<!-- 이 연산자의 역할은 템플릿에서 객체를 참조할 때 엄격한 null 검사를 하지 않도록 지정하는 것 뿐 -->
<!-- 이 모드를 활성화하면 
  타입을 지정한 변수에 null이나 undefined을 할당하는 것이 허용되지 않습니다. 
  그래서 변수의 값을 할당하지 않고 놔두거나, 변수에 null이나 undefined을 할당하는 코드가 있으면 타입을 체크할 때 오류가 발생합니다. -->
<!-- 히어로 객체가 유효하지 않으면 표시되지 않습니다. -->
<div *ngIf="hero">
  The hero's name is {{hero!.name}}
</div>
<!-- 질문 -->
<!-- $any 타입 캐스팅 함수 -->
<!-- <p>The item's undeclared best by date is: {{$any(item).bestByDate}}</p> -->
<!-- <p>The item's undeclared best by date is: {{$any(this).bestByDate}}</p> -->

<hr>
<app-keyup></app-keyup>
<app-keyup2></app-keyup2>
<app-keyup3></app-keyup3>
<app-keyup4></app-keyup4>
<app-keyup5></app-keyup5>

<hr>
<app-loop-back></app-loop-back>

<hr>
<app-little-tour></app-little-tour>